* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.Profile {
  margin: 0 auto;
  max-width: 1120px;
}

.Profile__header {
  margin: 40px 10px 40px 10px;
}

.Profile__header h1 {
  margin-bottom: 20px;
  font-size: 48px;
}

.Profile__header span {
  color: #ff0101;
}

.Profile__header p {
  font-size: 20px;
}

.Profile__main {
  display: flex;
}

.Profile__main__flex {
  display: flex;
  justify-content: space-between;
}

.Profile__aside {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin: 10px;
}

@media screen and (max-width: 1099px) {
  .Profile__main {
    flex-direction: column-reverse;
  }
  .Profile__aside {
    flex-direction: row;
  }
}
